body {
  font-size: 10px;
  background-color: antiquewhite;
}

h1 {
  font-size: 2rem;
}

.anaSayfaLayout {
  display: flex;
  justify-content: space-evenly;
  width: 90vw;
  max-width: 1260px;
  margin: 0 auto;
}

.populerDiziler {
  width: 30%;
}

.populerDizilerIcerik {
  font-size: 1.3rem;
}

.populerDiziIsım {
  padding-bottom: 0.9rem;
  font-weight: 400;
  cursor: pointer;
  max-width: 300px;
}

.populerDiziIsım:hover {
  background-color: black;
  color: white;
}

.diziDetayMainDiv {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
}

.diziDetayCard {
  width: 100%;
  display: flex;
  margin: 0 auto;
  padding: 0.1rem;
}

.posterDiv {
  width: 50%;
}

.posterDiv img {
  width: 100%;
}

.bilgilerDiv {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 1%;
  margin-left: 1%;
  padding-left: 0.3rem;
}

.detayDizimIsim {
  padding: 0.5rem 0;
}

.detayDizimUlke {
  padding: 0.5rem 0;
}

.bilgilerDiv button {
  width: 50%;
  background-color: blue;
  border-radius: 1rem;
  font-size: 1rem;
  color: white;
  cursor: pointer;
}

.bilgilerDiv button:hover {
  background-color: white;
  color: blue;
}

.izlemeListesi {
  width: 30%;
}

.izlemeListesiFlex {
  display: flex;
  flex-direction: column;
}

.izlemeListesiIsimDiv {
  display: flex;
  padding-bottom: 0.9rem;
}

.izlemeListesiIsim {
  font-size: 1.3rem;
  font-weight: 500;
  width: 100%;
}

.izlemeListesi button {
  background-color: red;
  border-radius: 1rem;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  margin-left: 5%;
}

.izlemeListesi button:hover {
  background-color: white;
  color: red;
}