@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');



body {
  font-size: 10px;
  font-family: 'PT Sans', sans-serif;
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  color: #8bc34a;
  ;
  text-align: center;
}

.anaSayfaLayout {
  display: flex;
  justify-content: space-evenly;
  width: 90vw;
  height: 100vh;
  max-width: 1360px;
  margin: 0 auto;
}

.populerDiziler {
  width: 30%;
  background-color: white;
}

.populerDiziler ul {
  height: 90vh;
  overflow: hidden;
  overflow-y: scroll;
  list-style: decimal-leading-zero;
}


.populerDizilerIcerik {
  font-size: 1.3rem;
}

.populerDiziIsim {
  padding-bottom: 0.9rem;
  font-weight: 400;
  cursor: pointer;
  max-width: 300px;
}

.populerDiziIsım:hover {
  background-color: black;
  color: white;
}

.diziDetayMainDiv {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
  background-image: url("./img/dizi-detay2.jpg");
  background-size: cover;
}

.diziDetayCard {
  width: 100%;
  display: flex;
  padding: 0.1rem;
}

.detayUyari {
  font-size: 1.2rem;
  text-align: center;
  color: #8bc34a;
}

.posterDiv {
  width: 50%;
}

.posterDiv img {
  width: 100%;
}

.bilgilerDiv {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 600;
  margin-left: 1%;
  padding-left: 0.3rem;
  color: #8bc34a;

}

.detayDizimIsim {
  padding: 0.5rem 0;
}

.detayDizimUlke {
  padding: 0.5rem 0;
}

.bilgilerDiv button {
  width: 50%;
  background-color: #ff5722;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 400;
  color: white;
  cursor: pointer;

}

.bilgilerDiv button:hover {
  background-color: white;
  color: blue;
}

.izlemeListesi {
  width: 30%;
  background-color: brown;
  background-image: url("./img/dizi-list.jpg");
  background-size: cover;
}

.izlemeListesiFlex {
  display: flex;
  flex-direction: column;
}

.izlemeListesiIsimDiv {
  display: flex;
  padding-bottom: 0.9rem;
}

.izlemeListesiIsim {
  font-size: 1.3rem;
  font-weight: 500;
  width: 80%;
  text-align: center;
}

.izlemeListesiButtonDiv {
  margin-right: 20%;
}

.izlemeListesi button {
  background-color: #ff5722;
  border-radius: 1rem;
  font-size: 1rem;
  color: white;
  cursor: pointer;
}

.izlemeListesi button:hover {
  background-color: white;
  color: #ff5722;
}

.searchForm {
  margin: 0 auto;
  margin-bottom: 10%;
  width: 60%;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
}

.inputForm {
  font-size: 1rem;
  padding: 0.3rem;
  border-radius: 1rem;
  width: 100%;
}