@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body {
  font-size: 10px;
  font-family: 'PT Sans', sans-serif;
  box-sizing: border-box;
  background-image: url("./img/mainbg5.jpg");
  background-size: cover;
}

h1 {
  font-size: 2rem;
  color: #000000;
  ;
  text-align: center;
}

.anaSayfaLayout {
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
  max-width: 1360px;
  margin: 0 auto;
}

.populerDizilerMain {
  flex: 1.5;
  background-color: white;
  padding: 0.5rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
}

.populerDizilerMain ul {
  height: 73vh;
  overflow: auto;
}

.populerDizilerIcerik {
  font-size: 1.3rem;
}

.populerDiziIsim {
  padding-bottom: 0.9rem;
  font-weight: 400;
  cursor: pointer;
  max-width: 300px;
}

.populerDiziIsim:hover {
  background-color: black;
  color: white;
}

.pageNumberDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
}

.pageNumber {
  margin: 0 1%;
}

.pageNumberDiv button {
  background-color: #ff5722;
  color: white;
  cursor: pointer;
  width: 100%;
}

.pageNumberDiv button :disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.diziCardMain {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
}

.searchForm {
  margin: 0 auto;
  margin-bottom: 10%;
  width: 60%;
  text-align: center;
  font-size: 1rem;
}

.searchBaslik {
  color: white;
  background-color: #00000080;
  border-radius: 1rem;
  padding: 0.3rem;
  width: 100%;
}

.searchInputForm {
  font-size: 1rem;
  padding: 0.3rem;
  border-radius: 1rem;
  width: 100%;
}

.diziCardAltDiv {
  width: 90%;
  display: flex;
  margin: 0 auto;
  border-radius: 2rem;
  background-color: #ffffff;
  box-shadow: -3px 3px 10px 1px;

}

.diziCardYoksaUyari {
  font-size: 1.2rem;
  text-align: center;
  color: white;
  background-color: #ff000080;
}

.diziCardImgDiv {
  flex: 1;
  display: flex;
}

.diziCardImgDiv img {
  padding: 0.5rem;
  border-radius: 2rem;
  width: 100%;
}

.diziCardBilgilerDiv {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 1.3rem;
  font-weight: 600;
  padding-left: 5%;
  color: black;
  padding-bottom: 5%;
}

.diziCardBilgilerIsim,
.diziCardBilgilerUlke {
  padding: 0.5rem 0;
}

.diziCardBilgilerDiv button {
  width: 50%;
  background-color: #ff5722;
  font-size: 1rem;
  font-weight: 400;
  color: white;
  cursor: pointer;
  margin-bottom: 1%;
}

.diziCardBilgilerDiv button:hover {
  background-color: white;
  color: #ff5722;
  ;
}

.detaySayfasiKapsayiciDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.detaySayfasiDiv {
  background-color: black;
  color: white;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 2rem;
  text-align: justify;
  display: flex;
  align-items: center;
  height: 50%;
  flex-direction: column;
  justify-content: space-evenly;
}

.detaySayfasiDiv button {
  width: 20%;
  font-size: 1rem;
  border-radius: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.izlemeListesiMain {
  flex: 1.5;
  background-color: white;
  padding: 1rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
}

.izlemeListesiAltDiv {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 75vh;
  padding: 0.5rem;
}

.izlemeListesiCardDiv {
  display: flex;
  padding: 0.2rem 0.2rem;
  align-items: center;
  box-shadow: -3px 3px 10px 1px;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}

.izlemeListesiAltDiv2 {
  flex: 2;
}

.izlemeListesiResimDiv {
  flex: 1;
}

.izlemeListesiResimDiv img {
  width: 90%;
  border-radius: 1rem;
}

.izlemeListesiIsim {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0 auto;
  text-align: center;
}

.izlemeListesiSilButtonDiv {
  text-align: center;
  padding-top: 0.5rem;
}

.izlemeListesiMain button {
  background-color: #ff5722;
  font-size: 1rem;
  width: 35%;
  color: white;
  cursor: pointer;
}

.izlemeListesiMain button:hover {
  background-color: white;
  color: #ff5722;
}

/* 320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */

@media (365px < width<760px) {
  h1 {
    font-size: 0.9rem;
  }

  .populerDizilerMain ul {
    font-size: 0.8rem;
    padding-left: 0;
    list-style: none;
  }

  .pageNumberDiv {
    font-size: 0.8rem;
  }

  .pageNumberDiv button {
    font-size: 0.6rem;
  }

  .searchBaslik {
    font-size: 0.8rem;
  }

  .diziCardBilgilerIsim,
  .diziCardBilgilerUlke {
    font-size: 0.8rem;
  }

  .diziCardBilgilerDiv {
    font-size: 1rem;
    text-align: center;
  }

  .diziCardBilgilerDiv button {
    font-size: 0.6rem;
    margin: 0 auto;
  }

  .izlemeListesiIsim {
    font-size: 0.8rem;
  }
}